body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.consultation-form {
  width: 80%;
  max-width: 800px; /* Aumentando o tamanho máximo do formulário */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Espaço acima do formulário */
  display: inline-block; /* Para centralizar o formulário */
  text-align: left; /* Alinhar texto à esquerda dentro do formulário */
}

h1 {
  color: #333;
}

label,
input,
button {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
button {
  width: calc(100% - 22px); /* Ajustando largura para considerar margem */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px; /* Espaço entre input e borda do formulário */
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;


.container {
  text-align: center;
}

.consultation-form {
  width: 80%;
  max-width: 800px; /* Aumentando o tamanho máximo do formulário */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Espaço acima do formulário */
  display: inline-block; /* Para centralizar o formulário */
  text-align: left; /* Alinhar texto à esquerda dentro do formulário */
}

h1 {
  color: #333;
}

label,
input,
button {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
button {
  width: calc(100% - 22px); /* Ajustando largura para considerar margem */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px; /* Espaço entre input e borda do formulário */
  text-align: center;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Ocupa toda a largura do container */
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}
