body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff; /* Define a cor do texto para branco */
}

.container {
  text-align: center;
}

.consultation-form {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #333; /* Fundo escuro para o formulário */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  display: inline-block;
  text-align: left;
}

h1 {
  color: #fff; /* Título em branco */
}

label,
input,
button {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
button {
  width: calc(100% - 22px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  text-align: center;
  background-color: #444; /* Fundo escuro para inputs e botões */
  color: #fff; /* Texto em branco */
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}
