<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consulta de Pagamentos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
</head>
<body>
    <h1>Consulta de Pagamentos</h1>
    <form method="POST">
        <label for="start_date">Data de Início:</label>
        <input type="date" id="start_date" name="start_date" required />
        <br />
        <label for="end_date">Data de Fim:</label>
        <input type="date" id="end_date" name="end_date" required />
        <br />
        <label for="unidade_gestora">Unidade Gestora:</label>
        <input type="text" id="unidade_gestora" name="unidade_gestora" required />
        <br />
        <button type="submit">Consultar</button>
    </form>

    {% if data %}
    <h2>Resultados da Consulta</h2>
    <div class="table">
        <table border="1">
            <thead>
                <tr>
                    <th>Data de Pagamento</th>
                    <th>Pago</th>
                    <th>Retido</th>
                    <th>Liquido</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item['dataPagamento'] }}</td>
                    <td class="value">{{ item['pago'] }}</td>
                    <td class="value">{{ item['retido'] }}</td>
                    <td class="value">{{ item['liquido'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</body>
</html>
